body{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#contendor{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    padding: 20px;
}

footer{
    color: chartreuse;
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}